<header>
  <nav>
  {{#if isAuth}}
    <ul>
      <li>
        <a href="#/create">Create new offer</a>
      </li>
      <li class="site-logo">Shoe</li>
      <li>
        <a href="#/home">
          <img src="../public/sneakers.png" alt="">
        </a>
      </li>
      <li class="site-logo">Shelf</li>
      <li>Welcome, {{user}} |
        <a href="#/logout">Logout</a>
      </li>
    </ul>
    {{else}}
    <ul>
      <li class="site-logo">Shoe</li>
      <li>
        <a href="#/home">
          <img src="../public/sneakers.png" alt="">
        </a>
      </li>
      <li class="site-logo">Shelf</li>
    </ul>
    {{/if}}
  </nav>
</header>